.rr-flex-one {
    flex: 1;
}
.inline-display {
    display: inline;
}
.error{
    color:red;
}
.success{
    background: #38c172;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 6px 0;
}
.table td, .table th{
    vertical-align: middle;
}
.no-record-found{
    text-align: center;
}