img.paytm-img {
    width: 100%;
    height: 90px;
}
.redeem-form {
    border: 1px solid silver;
    padding: 16px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.evoucher{
    max-height: 200px
}